.ball {
  width: 8px;
  height:8px;
  position: fixed;
  top: 0;
  left: 0;
  
/*   border: 3px solid dodgerblue; */
  background-color: rgb(211, 196, 196);
  border-radius: 100%;
  pointer-events: none;
}